[Unit]
Description=The PHP 8.2 FastCGI Process Manager
Documentation=man:php-fpm8.2(8)
After=network.target

[Service]
Type=notify
# 2024-07-19 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# 1) "Improve PHP settings for Magento": https://github.com/27estore/192.241.193.5/issues/7
# 2) "Refactor PHP settings": https://github.com/27estore/192.241.193.5/issues/19
ExecStart=/usr/sbin/php-fpm8.2 --nodaemonize --fpm-config /etc/php/8.2/fpm.ini
ExecStartPost=-/usr/lib/php/php-fpm-socket-helper install /run/php/php-fpm.sock /etc/php/8.2/fpm.ini 82
ExecStopPost=-/usr/lib/php/php-fpm-socket-helper remove /run/php/php-fpm.sock /etc/php/8.2/fpm.ini 82
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
